<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board | <%= title %></title>
</head>
<body>
    <h1 class="heading">Your Messages</h1>
    <section class="messages">
        <% if (messages.length > 0) { %>
            <% messages.forEach(message => { %>
                <div class="message">
                    <h3 class="user"><%= message.user %></h3>
                    <h3 class="date"><%= message.added %></h3>
                    <p class="text"><%= message.text %></p>
                    <button><a href="/<%= message.id %>">Open</a></button>
                </div>
            <% }) %>
        <% } else { %>
            <p>There are no new messages.</p>
        <% } %>
    </section>
    <nav>
        <li>
            <button>
                <a href="/new">Create New Message</a>
            </button>
        </li>
    </nav>
</body>
</html>